* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width:100%
    
  }
   
  #items{
    display:flex;
  }
  .card {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display:grid;
    flex-direction: column;
    max-height:30rem;
    transition: 0.5s;
    width:18rem;
    
  }
  .card-row{
    margin-top:2rem;
    display:flex;
    grid-gap: 2rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
}

  .card:hover{
    transform: translate(10px,10px);
  }
  
  .card__content {
    padding: 20px;
  }
  
  .cardimg {
    -o-object-fit: cover;
       object-fit: cover;
    max-height:15rem;
    width:100%;
  }
  #card-btn{
    width:100%;
    background-color: green;
    color:white;
  }